repos:
- repo: https://github.com/thlorenz/doctoc
  rev: v2.2.0
  hooks:
  - id: doctoc
    args:
    - -u
- repo: https://github.com/cloudposse/pre-commit-makefile
  rev: v0.2.0
  hooks:
    - id: makefile-doc
      files: Makefile
